body {
	background-color: #1d1d1d;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	color: #fff;
}

.page {
	background-color: #2f2f2f;
	width: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 70px;
}

.page .content {
	//padding: 10px;
	display: flex;
	flex-direction: column;

	& .block {
		background-color: #363636;
		padding: 10px;
		margin: 10px;

		& .block {
			background-color: #474747;
			padding: 10px;
			margin: 10px;
		}
	}
}

.block.chat {
	//width: 200px;
	height: 300px;
	overflow-y: scroll;

	& .msg {
		text-align: left;
		margin-bottom: 5px;

		& .name {
			font-size: 0.7em;
		}

		& .text {
			font-size: 0.8em;
		}
	}
}

.header {
	background-color: #363636;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.navBottom {
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 400px;
	height: 70px;
	background-color: #363636;
	text-align: center;

	& .link {
		display: flex;
		flex-direction: column;
		color: white;
	}
}

.button {
	color: #fff;
	width: 100%;
	border: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	background-color: #474747;
	text-decoration: underline;

	&:hover {
		background-color: #6c6c6c;
	}

	&:focus {
		background-color: #6c6c6c;
	}
}

.form {
	& label {
		display: block;
		width: 100%;
	}
}

.formChat {
	display: flex;

	& .input {
		width: 80%;
	}

	& .button {
		width: 20%;
	}
}

.input {
	display: block;
	background-color: #474747;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	width: 100%;
	border: 0;

	&:focus {
		background-color: #6c6c6c;
	}
}

@media screen and (max-width: 479px) {
	.page {
		background-color: #2f2f2f;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	body {
		display: block;
	}
}